.navbar{
    background-color: black;
}

li{
    list-style-type: none;
}

#navbarSupportedContent{
    text-align: justify;
}

#sub{
    font-weight: normal;
}

p {
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

#button{
    border-radius: 10px;
    border-color: aqua;
}

#search{
    margin-bottom: auto;
    background-color: black;
}